* {
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-size: 14 px;
  background-color: #fefefe;
}

.container-fluid .row .col-12.col-sm-12 h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  color: #126623;
}



